<section id="business-x-testimonial-section">
  <div class="section-title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Отзывы участников</h2>
          <%= image_tag('one/img/title_line.png') %>
          <p>Вот, что говорят о General Sherman его участники</p>
        </div>
      </div>
    </div>
  </div>
  <div class="business-x-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
              <%- @rewiews.each_with_index do |rewiew, i|%>
                <div class="item<%= ' active' if i.zero?%>">
                  <blockquote>
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <p><%= rewiew.body%></p>
                        <%= rewiew.author_url%>
                      </div>
                    </div>
                  </blockquote>
                </div>
              <%- end%>
            </div>
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
              <%- @rewiews.each_with_index do |rewiew, i|%>
                <li data-target="#quote-carousel" data-slide-to="<%= i%>" class="<%= 'active' if i.zero?%>"><%= image_tag(rewiew.author_avatar, class: 'img-responsive')%>
                </li>
              <%- end%>
            </ol>
            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
