- user = resource.decorate
= render 'layouts/menu/configuration'

.tab-content
  .tab-pane.active#details
    .row
      .col-xs-2
        = render 'user_avatar'
        .text-center
          = link_to(t('balance.increase_action'),
                    new_payment_cash_deposit_path,
                    class: 'btn btn-success btn-xs')
      .col-xs-10
        #plan_status_block= render 'plan_status', user: user
        -# %h3.margin-bottom-10
        -#   = t('plan', scope: 'activerecord.attributes.user')
        -#   %label.label.label-info#user_plan= user.plan.mb_chars.upcase
        - unless user.plan.eql?('credit') || user.activated_to_invite?
          .page-header
            %h1= t('plan.change')
            #change_plan_block= render 'change_plan', user: user

        - if user.activated_to_invite?
          %dl.dl-horizontal
            %dt= t('.balance')
            %dd
              = user.balance_label
              = user.create_voucher_link

        - if user.activated_to_invite?
          %dl.dl-horizontal
            %dt= t('.referral_link')
            %dd
              = link_to(user.affiliate_link, user.affiliate_link)
              .text-muted! #{t('.change_referal_link')}
          %dl.dl-horizontal
            %dt= t('.visitka')
            %dd
              = link_to(user.vizitka_link, user.vizitka_link)
              .text-muted! #{t('.visitka_hint')}
          %dl.dl-horizontal.text-center= user.pending_referral_note

    .row
      .col-xs-10.col-xs-offset-2
        %h3= t('.personal_details')
        = simple_form_for(resource.object, as: resource_name, url: registration_path(resource_name), html: {method: :put, autocomplete: 'off', class: 'form-vertical'}) do |f|
          = f.error_notification
          .form-inputs
            = f.input :phone, required: true, wrapper: :vertical
            = f.input :email, required: true, autofocus: true, wrapper: :vertical
            = f.input :skype, wrapper: :vertical
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p= t('.currently_waiting_confirmation_for', unconfirmed_email: resource.unconfirmed_email, default: "Currently waiting confirmation for: #{resource.unconfirmed_email}")
            = f.input :username, hint: t('.ref_link_hint'), wrapper: :vertical
            = f.input :first_name, wrapper: :vertical
            = f.input :last_name, wrapper: :vertical
            = f.input :middle_name, wrapper: :vertical
            = f.input :address, wrapper: :vertical
            = f.input :about_me, wrapper: :vertical
            = f.input :success_story, wrapper: :vertical

          .row
            .col-xs-3
              = f.button :submit
  #documents.tab-pane
    .alert.alert-info Загрузите изображение паспорта и свое фото крупным планом с паспортом в руках открытым на первой странице.
    .row
      - current_user.documents.decorate.each do |document|
        .col-md-4.text-center[document.object]
          = document.file? ? link_to(document.thumb, document, target: '_blank') : content_tag(:span, 'no file', class: 'label label-default')
          %div= link_to(icon('trash-o'), document, title: 'Delete', remote: true, method: 'delete', confirm: 'Are you sure?')
    %hr/
    %h3= t('.new_document')
    = simple_form_for(Document.new, :html => {:multipart => true}) do |f|
      = f.error_notification
      = f.file_field :file
      %br
      = f.button :submit

  #password.tab-pane
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :password, autocomplete: "off", hint: t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it"), required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes'), required: true
      .row
        .col-xs-3.col-xs-offset-3
          = f.button :submit
  #omniauth.tab-pane
    = render 'users/omniauth'
