%h2= t('.title', default: 'New cash withdrawal')
%h3
  = t('.balance')
  = current_user.balance_label

= simple_form_for(@cash_withdrawal, url: payment_cash_withdrawals_path,
                  html: { class: 'pay-systems_form',
                          id: 'cash_withdrawal_form' }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :amount, required: true, autofocus: true
  .form-inputs
    = f.input :payer_id, as: :hidden
    .form-group
      .col-sm-3= f.label :payer_id
      .col-sm-9
        .pay-systems
          - Payment::Withdrawal::PAY_SYSTEMS.each do |pay|
            .pay-system{class: "#{pay} #{'active' if pay.eql?(f.object.payer_id)}"}
              = image_tag("pays/#{pay}.jpg", onclick: "CashWithdrawalForm.change('#{pay}')")
  .form-inputs
    = f.input :comment
  .row
    .col-xs-3.col-xs-offset-3
      = f.button :submit, t('.create', default: 'Сreate')
