.row
  .col-sm-8
    = render 'users/activation_progress'
    = render_activities(@activities)
  .col-sm-4
    = render 'users/sidebar/parent'
    = render 'users/sidebar/investor'
    = render 'users/sidebar/statistic'
