%h2 Правила и условия
%ol
  %li= link_to('Определение', '#definition')
  %li= link_to('Регистрация и участие', '#registration')
  %li= link_to('Инструменты для рекрутинга', '#instruments')
  %li= link_to('Оплата', '#pay')
  %li= link_to('Запуск генератора команды', '#start')
  %li= link_to('Получение и распределение прибыли', '#profits')
  %li= link_to('Инвестиционный счет', '#purse')
  %li= link_to('Хранители', '#curator')
  %li= link_to('Кредитный ваучер', '#voucher')
  %li= link_to('Кто может получить кредитный ваучер?', '#voucher-issue')
  %li= link_to('Кто может выдать кредитный ваучер?', '#voucher-get')
  %li= link_to('Инвестиционный кейс', '#investments')


%h3#definition Определение
%p Сообщество успешных предпринимателей General Sherman (сайт #{link_to('http://gensherman.com/', 'http://gensherman.com/')}) основано с целью объединить в одну команду целеустремленных людей и дать им возможность быстро создать стартовый капитал, предоставляя специальные инструменты для эффективного построения собственной команды, и организовать множественные источники дохода для своих участников.
%h3#registration Регистрация и участие
%p Зарегистрироваться на сайте #{link_to('http://gensherman.com/', 'http://gensherman.com/')}  может любое лицо, достигшее 18 лет, по реферальной ссылке  участника сообщества General Sherman.
%p Для начала работы на сайте необходимо перейти на вкладку Профиль или Настройки, корректно заполнить  свои личные данные и выполнить интеграцию с социальными сетями.
%p Для получения кредитного ваучера нужно подтвердить личность участника: загрузить изображение паспорта и свое фото крупным планом с паспортом в руках открытым на первой странице.
%h3#instruments Инструменты для рекрутинга
%p Данный раздел постоянно находится в стадии доработки и добавления новых инструментов. Наши специалисты работают над тем , чтобы превратить рекрутинг в приятное занятие , а использование инструментов − в игру.
%p Новые идеи относительно инструментов  для рекрутинга поощряются! Присылайте их описание на #{mail_to('support@gemsherman.com')}
%h3#pay Оплата
%p После регистрации в разделе профиль  необходимо выбрать тарифный план, платежную систему и подать заявку. В подтверждение Вашей заявки вы получите реквизиты для оплаты. Произведите оплату  по указанным реквизитам и прикрепите скан (скриншот) платежа в подтверждение оплаты. Дождитесь активации вашего аккаунта.
%h3#start Запуск генератора команды
%p Это Ваш старт и Ваша история успеха. Вам необходимо пригласить  в команду 6 новых участников и сделать это незамедлительно. Желательно чтобы первыми шестью  приглашенными были незнакомые вам люди (т.н. “холодный контакт”).  Для этого Вам нужно зайти в раздел Инструменты и воспользоваться ими. На вкладке каждого инструмента  есть описание методики его использования.
%h3#profits Получение и распределение прибыли
%p Преимуществом  для участников, которые оплатили свое участие сразу на год ($500) Является то, что они получают с продажи первого  и третьего пакета инструментов премию в размере $400 +$400, то есть 80% от их стоимости, готовые к моментальному выводу.
%p Участники, которые оплатили часть стоимости пакета или воспользовались кредитным ваучером, зарабатывают вначале на полную его стоимость, и уже после этого начинают получать прибыль.
%p Весь доход, получаемый участником, распределяется на  2 счета, по 50% . Первый − счет моментального вывода и второй − инвестиционный. Средства с Инвестиционного счета могут быть использованы Участником только для инвестирования. Инвестиционным счетом управляет  партнер -хранитель.
%h3#purse Инвестиционный счет
%p На инвестиционном счете  участника происходит накопление денежных средств, которые используются для инвестирования в сторонние проекты. За счет этих средств приобретаются стартовые пакеты для входа в проекты, рекомендованные и проверенные администрацией и советом директоров сообщества General Sherman.
%h3#curator Хранители
%p Хранитель  инвестиционного счета − это партнер, который имеет в инвестиционном кейсе инвестиции, и у которого потенциал его личной команды превышает ожидаемые накопления.
%p
  %strong Пример:
  В первой линии вашей команды 10 партнеров. Каждый из них  должен в свою очередь пригласить в вашу команду по 2 партнера, которые принесут вам доход по $400 каждый. Потенциал команды в этом случае составляет:
  %strong 2х10х$400= 8000$
%h3#voucher Кредитный ваучер
%p Кредитный ваучер − это инструмент для развития вашей бизнес-структуры без приглашений. Создать кредитный ваучер  можно за счет средств, находящихся на вашем лицевом счете. При помощи кредитного ваучера Вы кредитуете нового добросовестного  участника, который подал заявку на его получение.
%p Погашение кредитного ваучера происходит за счет того, что участник, который получил ваучер, приглашает в команду кредитора (создателя ваучера) нового партнера.
%p Кредитные ваучеры создаются одним номиналом − $25. Количество создаваемых ваучеров неограниченно.
%h3#voucher-issue Кто может получить кредитный ваучер?
%p Воспользоваться кредитным ваучером может добросовестный участник, понимающий, что его старт кредитуется реальными деньгами другого участника проекта. Участник, использующий кредитный ваучер должен приложить максимум усилий для того, чтобы как можно быстрее погасить ваучер и предоставить такую же возможность другому человеку.
%p Срок действия ваучера 14 дней.
%h3#voucher-get Кто может выдать кредитный ваучер?
%p Рекомендовать  кредитный ваучер может любой участник, оплативший аренду полного пакета инструментов  на год.
%p Перед тем, как рекомендовать  кредитный ваучер  для оплаты старта нового участника,  необходимо убедиться в том, что будущий участник понимает всю ответственность и готов как можно скорее погасить  кредит.
%p Количество выпускаемых  кредитных ваучеров ограничено.  Участник, имеющий полностью оплаченный на год пакет,  может  рекомендовать  до 5 ваучеров. Участник, оплативший аренду собственного пакета инструментов частями, может рекомендовать 1 ваучер.  После погашения рекомендованного  ваучера, возможность  рекомендаций ваучеров возобновляется.
%h3#investments Инвестиционный кейс
%p 50% дохода, получаемой участниками в процессе рекомендации системы General Sherman новым партнерам и приглашения новых участников, остается в распоряжении участников. Вторая половина средств поступает на инвестиционный счет с целью инвестирования в проверенные и  надежные проекты. Объекты для инвестирования отбираются лидерским составом и по голосам участников по формуле :
%h4 ( Востребованный продукт) +(Надежность) + маркетинг ( 6лп*6лп=максимальная прибыль)
%p Прибыль от инвестирования в эти проекты поступает на лицевой счет участника.