.navbar-wrapper
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header.page-scroll
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.page-scroll{:href => "#about-me"} Приглашение
          %li
            %a.page-scroll{:href => "#pricing"} Возможности старта
          %li
            %a.page-scroll{:href => "#features"} Уникальность
          %li
            %a.page-scroll{:href => "#testimonials"} Отзывы
#inSlider.carousel.carousel-fade{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#inSlider"}
    %li{"data-slide-to" => "1", "data-target" => "#inSlider"}
  .carousel-inner{:role => "listbox"}
    .item.active
      .container
        .carousel-caption
          %h1
            General Sherman
            %br/
            Первый в мире
            %br/
            генератор команды
            %br/
          %p система создания дилерской сети
          %p
            = link_to('Зарегистрироваться сейчас',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token),
                      class: 'btn btn-primary btn-lg')
        .carousel-image.wow.zoomIn
          %img{:alt => "laptop", :src => "#{image_path('landing/laptop.png')}"}/
      / Set background for slide in css
      .header-back.one
    .item
      .container
        .carousel-caption.blank
          %h1
            General Sherman
          %p система создания стартового капитала
          %p
            = link_to('Зарегистрироваться сейчас',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token),
                      class: 'btn btn-primary btn-lg')
      / Set background for slide in css
      .header-back.two
  %a.left.carousel-control{"data-slide" => "prev", :href => "#inSlider", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#inSlider", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
%section#about-me.container
  .row
    .col-lg-12.text-center
      .navy-line
      %h1
        = @user.full_name
      %h2
        Представляю вам
        %br
        %span.navy
          совершенно новую
        и
        %span.navy
          уникальную
        %br
        стратегию работы в интернете
      %p
  .row.m-b-lg.m-t-lg
    .col-md-3.text-center.wow.fadeInLeft
      %div
        %i.fa.fa-mobile.features-icon
        %h2 Поддержка
        %p Всесторонняя поддержка компанией и командой. Вам всегда помогут специалисты и друзья.
      .m-t-lg
        %i.fa.fa-bar-chart.features-icon
        %h2 Полезная статистика
        %p Вам доступна вся статистика о вашей работе, ваших финансах и работе вашей команды.
    .col-md-6.text-center.wow.zoomIn
      %img.img-responsive.img-circle.center-block{:alt => "dashboard", :src => "#{@user.avatar_url(:source, :square)}"}
      %br
      = @user.social_links_inspinia
    .col-md-3.text-center.wow.fadeInRight
      %div
        %i.fa.fa-envelope.features-icon
        %h2 Инструменты рекрутинга
        %p Вы можете воспользоваться различными инструментами, чтобы увеличить свою команду.
      .m-t-lg
        %i.fa.fa-google.features-icon
        %h2 Инвестиционный кейс
        %p Вы сможете приумножить свой доход с помощью рекомендованных проектов, а также предложить свои.
  %p.text-center
    = link_to('Зарегистрироваться сейчас',
              new_user_registration_url(domain: request.domain,
                                        subdomain: nil,
                                        ref: @user.token),
              class: 'btn btn-primary btn-lg')
  .row
    .col-lg-12.text-center
      .navy-line
      %h1 Сенсация 2016-2017
      %p
  .row.features-block
    .col-lg-6.features-text.wow.fadeInLeft
      %small General Sherman
      %h2 Вы уже имеете опыт заработка в интернете или только собираетесь начать?
      %p
        Всем известно, что для крупного заработка в интернете в большинстве проектов необходимо иметь достаточно большую команду партнеров и нужно инвестировать довольно крупные суммы. Создать быстро свою команду с крупным стартовым капиталом не так-то просто.
      %p
        Теперь это стало возможно!!!
        %br
        Усилий для этого нужно приложить намного меньше!
        %br
        Теперь у нас есть система построения команды с первоначальным капиталом
        %h2.text-uppercase
          %span.navy
            General Sherman
        %p
          %span.text-uppercase
            теперь у нас есть
          %br
          Автоматический генератор команды!
          %br
          И запустить его сможет любой из вас!
      = link_to('Зарегистрироваться',
                new_user_registration_url(domain: request.domain,
                                          subdomain: nil,
                                          ref: @user.token),
                class: 'btn btn-primary btn-lg')
    .col-lg-6.features-text.wow.fadeInRight
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item(frameborder='0' src='https://www.youtube.com/embed/w4ObCmCachs?autoplay=1' allowfullscreen)

      -#= image_tag('home/gensherman.png', alt: t('site.title'), class: 'img-responsive pull-right')
%section#pricing.pricing.gray-section
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Возможности старта
        %p зависят от Ваших возможностей
    .row.m-b-lg
      .col-lg-3.wow.zoomIn
        %ul.pricing-plan.list-unstyled
          %li.pricing-title
            Шанс
          %li.pricing-video
            %a{data: {toggle: 'modal', target: '#yt-video-modal', video: 'TLj83keWF5A', title: 'GS - Старт без вложений '}}
              %img.img-responsive(src="https://i.ytimg.com/vi/TLj83keWF5A/hqdefault.jpg")
          %li.pricing-desc
            верь в чудо
          %li.pricing-price
            %span $25
          %li
            Заработать на пак внутри системы
          %li
            Управление полным паком за $500
          %li
            Запуск генератора
          %li
            Вывод прибыли доступен после полной покупки пака
          %li
            = link_to('Зарегистрироваться',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token,
                                                plan: 'credit'),
                      class: 'btn btn-primary btn-xs')
      .col-lg-3.wow.zoomIn
        %ul.pricing-plan.list-unstyled
          %li.pricing-title
            Лайт
          %li.pricing-video
            %a{data: {toggle: 'modal', target: '#yt-video-modal', video: 'h3EBfDySzpw', title: 'GS - Легкий старт $25'}}
              %img.img-responsive(src="https://i.ytimg.com/vi/h3EBfDySzpw/hqdefault.jpg")
          %li.pricing-desc
            минимум первоначальных вложений
          %li.pricing-price
            %span $50
          %li
            Запуск генератора
          %li
            Вывод прибыли доступен после полной покупки пака
          %li.plan-action
            = link_to('Зарегистрироваться',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token,
                                                plan: 'small'),
                      class: 'btn btn-primary btn-xs')
      .col-lg-3.wow.zoomIn
        %ul.pricing-plan.list-unstyled
          %li.pricing-title
            Профессионал
          %li.pricing-video
            %a{data: {toggle: 'modal', target: '#yt-video-modal', video: 'ouPBDRoErsw', title: 'GS - Генератор команды '}}
              %img.img-responsive(src="https://i.ytimg.com/vi/ouPBDRoErsw/hqdefault.jpg")
          %li.pricing-desc
            наиболее эффективный старт
          %li.pricing-price
            %span $500
            \/ на год
          %li
            Инструменты рекрутинга
          %li
            Доступен моментальный вывод прибыли
          %li
            Открытие накопительного, инвестиционного счета
          %li
            = link_to('Зарегистрироваться',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token,
                                                plan: 'payment'),
                      class: 'btn btn-primary btn-xs')
      .col-lg-3.wow.zoomIn
        %ul.pricing-plan.list-unstyled
          %li.pricing-title
            Инвестор
          %li.pricing-video
            %a{data: {toggle: 'modal', target: '#yt-video-modal', video: '6BAP_rQ8mAs', title: 'GS - Предложение для Инвесторов'}}
              %img.img-responsive(src="https://i.ytimg.com/vi/6BAP_rQ8mAs/hqdefault.jpg")
          %li.pricing-desc
            максимум возможностей
          %li.pricing-price
            %span
              $500
            \/на год
            %br
            %span
              $250
            \/ 10 кредитных ваучеров
          %li
            Инструменты рекрутинга
          %li
            Гарантированное создание команды без приглашений
          %li
            Доступен моментальный вывод прибыли
          %li
            Открытие накопительного, инвестиционного счета
          %li
            = link_to('Зарегистрироваться',
                      new_user_registration_url(domain: request.domain,
                                                subdomain: nil,
                                                ref: @user.token,
                                                plan: 'investor'),
                      class: 'btn btn-primary btn-xs')

%section.features#features
  .container
    .row
      .col-lg-12.text-center
        .navy-line
        %h1 Уникальность  системы  General Sherman
        %p  General Sherman это подушка безопасности для вашего бизнеса в интернет
    .row
      .col-lg-5.col-lg-offset-1.features-text
        %small General Sherman
        %h2 Рейтинг компаний
        %i.fa.fa-bar-chart.big-icon.pull-right
        %p Вы всегда в курсе какие компании самые лучшие и прогрессивные  для бизнеса в интернет
      .col-lg-5.features-text
        %small General Sherman
        %h2 Генератор команды
        %i.fa.fa-bolt.big-icon.pull-right
        %p Запустить генератор команды Вы сможете при помощи минимальных инвестиций или при помощи собственных усилий используя инструменты General Sherman
    .row.m-b-lg
      .col-lg-5.col-lg-offset-1.features-text
        %small General Sherman
        %h2 Возможность начать без вложений
        %i.fa.fa-clock-o.big-icon.pull-right
        %p Мы кредитуем старт целеустремленным и добросовестным участникам
      .col-lg-5.features-text
        %small General Sherman
        %h2 Формирование стартового капитала
        %i.fa.fa-users.big-icon.pull-right
        %p Моментальное получение прибыли и обязательное накопление стартового капитала позволяет  открывать для Вас новый бизнес практически без вложений и рисков
  %p.text-center
    = link_to('Зарегистрироваться сейчас',
              new_user_registration_url(domain: request.domain,
                                        subdomain: nil,
                                        ref: @user.token),
              class: 'btn btn-primary btn-lg')
%section#testimonials.gray-section.team
  .container
    .row.m-b-lg
      .col-lg-12.text-center
        .navy-line
        %h1 Отзывы
        %p Что говорят наши пользователи
    .row.hidden
      .col-sm-4.wow.fadeInLeft
        .team-member
          %img.img-responsive.img-circle.img-small{:alt => "", :src => "#{image_path('landing/avatar3.jpg')}"}/
          %h4
            %span.navy Amelia
            Smith
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          %ul.list-inline.social-icon
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
      .col-sm-4
        .team-member.wow.zoomIn
          %img.img-responsive.img-circle{:alt => "", :src => "#{image_path('landing/avatar1.jpg')}"}/
          %h4
            %span.navy John
            Novak
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          %ul.list-inline.social-icon
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
      .col-sm-4.wow.fadeInRight
        .team-member
          %img.img-responsive.img-circle.img-small{:alt => "", :src => "#{image_path('landing/avatar2.jpg')}"}/
          %h4
            %span.navy Peter
            Johnson
          %p Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          %ul.list-inline.social-icon
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
    .row.hidden
      .col-lg-8.col-lg-offset-2.text-center.m-t-lg.m-b-lg
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

#yt-video-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="YtVideoModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        %h4.modal-title
      .modal-body
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item(frameborder='0' allowfullscreen)


- content_for :javascript do
  :javascript
    $(function() {

        $('body').addClass('landing-page');
        $('body').attr('id', 'page-top');

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });

        var cbpAnimatedHeader = (function() {
            var docElem = document.documentElement,
                    header = document.querySelector( '.navbar-default' ),
                    didScroll = false,
                    changeHeaderOn = 200;
            function init() {
                window.addEventListener( 'scroll', function( event ) {
                    if( !didScroll ) {
                        didScroll = true;
                        setTimeout( scrollPage, 250 );
                    }
                }, false );
            }
            function scrollPage() {
                var sy = scrollY();
                if ( sy >= changeHeaderOn ) {
                    $(header).addClass('navbar-scroll')
                }
                else {
                    $(header).removeClass('navbar-scroll')
                }
                didScroll = false;
            }
            function scrollY() {
                return window.pageYOffset || docElem.scrollTop;
            }
            init();

        })();


    });
